p {
    color: #F4DC8C ;
}


div.col-md-4 {
    border-style: solid;
    border-width: 5px;
    padding-left: 50px;
    padding-right: 50px;
}

.row {
    padding-top: 50px;
}

body {
    background-color: #000000;
}
p1 {
    color: #ADD8E6;
}
h2 {
    color: #F4DC8C;
}
.accordion-button {
    background-color: #ADD8E6;
}
.list-group-item {
    background-color: #ADD8E6;
}
